[package]
name = "puniyu_registry"
version = "0.5.6"
description = "puniyu 的注册中心模块"
readme = "README.md"
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
edition.workspace = true
rust-version.workspace = true

[dependencies]
async-trait = { workspace = true, optional = true }
toml = { workspace = true, optional = true }
futures = { workspace = true, optional = true }
thiserror = { workspace = true, optional = true }
tokio = { workspace = true, optional = true }
actix-web = { workspace = true, optional = true }
tokio-cron-scheduler = { version = "0.15.0", optional = true }
chrono-tz = { version = "0.10.4", optional = true }
uuid = { version = "1.17.0", features = ["v4"], optional = true }
itertools = { workspace = true, optional = true }
convert_case = { workspace = true, optional = true }

puniyu_logger = { workspace = true, optional = true }
puniyu_common = { version = "0.5.6", path = "../puniyu_common", optional = true }
puniyu_types = { version = "0.5.6", path = "../puniyu_types", default-features = false, optional = true }
puniyu_library = { version = "0.5.0", path = "../puniyu_library", optional = true }
puniyu_config = { version = "0.5.6", path = "../puniyu_config", optional = true }

[dev-dependencies]
tokio = { workspace = true, features = ["full"] }
async-trait = { workspace = true }

[features]
default = ["full"]
adapter = [
  "dep:convert_case",
  "dep:futures",
  "dep:puniyu_common",
  "dep:puniyu_config",
  "dep:puniyu_logger",
  "dep:toml",
  "dep:thiserror",
  "tokio/fs",
  "puniyu_types/adapter",
  "puniyu_types/bot",
  "bot",
  "server",
]
bot = ["puniyu_types/bot"]
server = ["puniyu_types/server"]
task = [
  "dep:tokio",
  "dep:puniyu_logger",
  "dep:tokio-cron-scheduler",
  "dep:chrono-tz",
  "dep:uuid",
  "puniyu_types/task",
]
command = ["dep:itertools", "puniyu_types/command", "puniyu_types/server"]
plugin = [
  "dep:convert_case",
  "dep:puniyu_common",
  "dep:thiserror",
  "dep:futures",
  "dep:puniyu_library",
  "dep:puniyu_config",
  "dep:puniyu_logger",
  "dep:toml",
  "tokio/fs",
  "puniyu_types/plugin",
  "puniyu_types/server",
  "puniyu_types/version",
  "task",
  "command",
  "server",
]
matcher = [
  "dep:async-trait",
  "dep:puniyu_logger",
  "puniyu_types/matcher",
  "puniyu_types/event",
  "puniyu_types/element",
]
handler = [
  "dep:async-trait",
  "dep:puniyu_logger",
  "puniyu_types/handler",
  "puniyu_types/event",
  "puniyu_types/command",
  "puniyu_types/context",
  "puniyu_types/bot",
  "puniyu_types/contact",
  "command",
]
full = [
  "adapter",
  "bot",
  "server",
  "task",
  "command",
  "plugin",
  "matcher",
  "handler",
]
