[package]
name = "puniyu_registry"
version = "0.7.9"
description = "puniyu 的注册中心模块"
readme = "README.md"
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
edition.workspace = true
rust-version.workspace = true

[dependencies]
toml = { workspace = true, optional = true }
futures = { workspace = true, optional = true }
thiserror = { workspace = true, optional = true }
tokio = { workspace = true, optional = true }
tokio-cron-scheduler = { version = "0.15.0", optional = true }
chrono = { workspace = true, optional = true }
chrono-tz = { version = "0.10.4", optional = true }
uuid = { version = "1.17.0", features = ["v4"], optional = true }
convert_case = { workspace = true, optional = true }

puniyu_logger = { workspace = true, optional = true }
puniyu_common = { version = "0.7.5", path = "../puniyu_common", optional = true }
puniyu_types = { version = "0.7.7", path = "../puniyu_types", default-features = false, optional = true }
puniyu_library = { version = "0.5.5", path = "../puniyu_library", optional = true }
puniyu_config = { version = "0.7.5", path = "../puniyu_config", optional = true }

[dev-dependencies]
tokio = { workspace = true, features = ["full"] }
puniyu_types = { version = "0.7.7", path = "../puniyu_types", features = [
    "handler",
    "bot",
    "event",
] }

[features]
default = ["full"]
adapter = [
    "dep:convert_case",
    "dep:futures",
    "dep:puniyu_common",
    "dep:puniyu_config",
    "dep:puniyu_logger",
    "dep:toml",
    "dep:thiserror",
    "tokio/fs",
    "tokio/macros",
    "puniyu_types/adapter",
    "puniyu_types/bot",
    "bot",
    "server",
    "hook"
]
bot = ["puniyu_types/bot", "dep:puniyu_logger"]
server = ["puniyu_types/server"]
task = [
    "dep:tokio",
    "dep:puniyu_logger",
    "dep:tokio-cron-scheduler",
    "dep:chrono-tz",
    "dep:uuid",
    "puniyu_types/task",
]
command = ["puniyu_types/command", "puniyu_types/server"]
plugin = [
    "dep:convert_case",
    "dep:puniyu_common",
    "dep:puniyu_config",
    "dep:thiserror",
    "dep:futures",
    "dep:puniyu_library",
    "dep:puniyu_logger",
    "dep:toml",
    "tokio/fs",
    "puniyu_types/plugin",
    "puniyu_types/server",
    "puniyu_types/version",
    "puniyu_types/bus",
    "puniyu_types/handler",
    "task",
    "command",
    "server",
    "hook"
]
cooldown = ["dep:chrono"]
handler = ["puniyu_types/handler"]
hook = ["puniyu_types/hook"]
full = ["adapter", "bot", "server", "task", "command", "plugin", "handler", "hook"]
