[package]
name = "puniyu_common"
version = "0.5.12"
description = "puniyu 的通用库"
readme = "README.md"
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
edition.workspace = true
rust-version.workspace = true

[lib]
doctest = false

[dependencies]
toml = { workspace = true }
puniyu_system_info = { version = "1.5.2", features = ["gpu"] }

serde.workspace = true
thiserror.workspace = true





