name: Build Package

on:
  workflow_call:
    inputs:
      stable:
        description: '是否为稳定版构建'
        type: boolean
        default: false

env:
  APP_NAME: puniyu

jobs:
  build_windows:
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: windows-latest
            target: x86_64-pc-windows-msvc
            label: windows-x86_64
          - runner: windows-latest
            target: aarch64-pc-windows-msvc
            label: windows-aarch64


    steps:
      - name: 检出仓库
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event.pull_request.head.ref || github.ref_name }}
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}

      - name: 设置 rust
        uses: puniyu/setup-rust@main
        with:
          target: ${{ matrix.platform.target }}
          save-cache: true
          prefix-key: ${{ env.APP_NAME }}

      - name: 构建
        shell: bash
        run: |
          cargo build --release --target ${{ matrix.platform.target }}
        env:
          VERSION_CHANNEL: ${{ inputs.stable && 'stable' || 'nightly' }}

      - name: 上传构建产物
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: "${{ env.APP_NAME }}-${{ matrix.platform.target }}"
          path: |
            target/${{ matrix.platform.target }}/release/${{ env.APP_NAME }}.exe

  build_macos:
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: macos-latest
            target: x86_64-apple-darwin
            label: macos-x86_64
          - runner: macos-latest
            target: aarch64-apple-darwin
            label: macos-aarch64

    steps:
      - name: 检出仓库
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event.pull_request.head.ref || github.ref_name }}
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}

      - name: 设置 rust
        uses: puniyu/setup-rust@main
        with:
          target: ${{ matrix.platform.target }}
          save-cache: true
          prefix-key: ${{ env.APP_NAME }}

      - name: 构建
        shell: bash
        run: |
          cargo build --release --target ${{ matrix.platform.target }}
        env:
          VERSION_CHANNEL: ${{ inputs.stable && 'stable' || 'nightly' }}

      - name: 上传构建产物
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: "${{ env.APP_NAME }}-${{ matrix.platform.target }}"
          path: |
            target/${{ matrix.platform.target }}/release/${{ env.APP_NAME }}

  build_linux:
    runs-on: ${{ matrix.platform.runner }}
    container: ${{ matrix.platform.container }}
    strategy:
      matrix:
        platform:
          - runner: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            label: linux-x86_64
          - runner: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
            label: linux-aarch64

    steps:
      - name: 检出仓库
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event.pull_request.head.ref || github.ref_name }}
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}

      - name: 设置 rust
        uses: puniyu/setup-rust@main
        with:
          target: ${{ matrix.platform.target }}
          save-cache: true
          prefix-key: ${{ env.APP_NAME }}

      - name: 构建
        shell: bash
        run: |
          cargo build --release --target ${{ matrix.platform.target }}
        env:
          VERSION_CHANNEL: ${{ inputs.stable && 'stable' || 'nightly' }}

      - name: 上传构建产物
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: "${{ env.APP_NAME }}-${{ matrix.platform.target }}"
          path: |
            target/${{ matrix.platform.target }}/release/${{ env.APP_NAME }}

  build_plugins:
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: windows-latest
            target: x86_64-pc-windows-msvc
            label: windows-x86_64
            extension: dll
            plugins: [ puniyu_plugin_basic ]
          - runner: windows-latest
            target: aarch64-pc-windows-msvc
            label: windows-aarch64
            extension: dll
          - runner: macos-latest
            target: x86_64-apple-darwin
            label: macos-x86_64
            extension: dylib
          - runner: macos-latest
            target: aarch64-apple-darwin
            label: macos-aarch64
            extension: dylib
          - runner: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            label: linux-x86_64
            extension: so
          - runner: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
            label: linux-aarch64
            extension: so
    steps:
      - name: 检出仓库
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event.pull_request.head.ref || github.ref_name }}
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}

      - name: 设置 rust
        uses: puniyu/setup-rust@main
        with:
          target: ${{ matrix.platform.target }}
          save-cache: true
          prefix-key: puniyu-plugins

      - name: 构建 puniyu_plugin_basic
        uses: ./.github/actions/build-plugin
        with:
          target: ${{ matrix.platform.target }}
          label: ${{ matrix.platform.label }}
          plugin: puniyu_plugin_basic
          extension: ${{ matrix.platform.extension }}
        env:
          VERSION_CHANNEL: ${{ inputs.stable && 'stable' || 'nightly' }}
