name: Build Package

on:
  workflow_call:
    inputs:
      stable:
        description: '是否为稳定版构建'
        type: boolean
        default: false

env:
  APP_NAME: puniyu

jobs:
  build_windows:
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: windows-latest
            target: x86_64-pc-windows-msvc
            label: windows-x86_64
          - runner: windows-latest
            target: aarch64-pc-windows-msvc
            label: windows-aarch64


    steps:
      - name: 检出仓库
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.ref || github.ref_name }}
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}

      - name: 设置 rust
        uses: puniyu/setup-rust@main
        with:
          target: ${{ matrix.platform.target }}
          save-cache: true
          prefix-key: ${{ env.APP_NAME }}

      - name: 构建
        shell: bash
        run: |
          cargo build --release ${{ inputs.stable && '--features stable' || '' }} --target ${{ matrix.platform.target }}

      - name: 上传构建产物
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: "${{ env.APP_NAME }}-${{ matrix.platform.label }}"
          path: |
            target/${{ matrix.platform.target }}/release/${{ env.APP_NAME }}.exe

  build_macos:
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: macos-latest
            target: x86_64-apple-darwin
            label: macos-x86_64
          - runner: macos-latest
            target: aarch64-apple-darwin
            label: macos-aarch64

    steps:
      - name: 检出仓库
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.ref || github.ref_name }}
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}

      - name: 设置 rust
        uses: puniyu/setup-rust@main
        with:
          target: ${{ matrix.platform.target }}
          save-cache: true
          prefix-key: ${{ env.APP_NAME }}

      - name: 构建
        run: |
          cargo build --release ${{ inputs.stable && '--features stable' || '' }} --target ${{ matrix.platform.target }}

      - name: 上传构建产物
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: "${{ env.APP_NAME }}-${{ matrix.platform.label }}"
          path: |
            target/${{ matrix.platform.target }}/release/${{ env.APP_NAME }}

  build_linux:
    runs-on: ${{ matrix.platform.runner }}
    container: ${{ matrix.platform.container }}
    strategy:
      matrix:
        platform:
          - runner: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            label: linux-x86_64
          - runner: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
            label: linux-aarch64

    steps:
      - name: 检出仓库
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.ref || github.ref_name }}
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}

      - name: 设置 rust
        uses: puniyu/setup-rust@main
        with:
          target: ${{ matrix.platform.target }}
          save-cache: true
          prefix-key: ${{ env.APP_NAME }}

      - name: 构建
        run: |
          cargo build --release ${{ inputs.stable && '--features stable' || '' }} --target ${{ matrix.platform.target }}

      - name: 上传构建产物
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: "${{ env.APP_NAME }}-${{ matrix.platform.label }}"
          path: |
            target/${{ matrix.platform.target }}/release/${{ env.APP_NAME }}
