name: release
on:
  push:
    branches:
      - main
  pull_request_target:
  workflow_dispatch:


env:
  APP_NAME: puniyu

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true


jobs:
  release:
    if: "!startsWith(github.head_ref, 'release-please')"
    runs-on: ubuntu-latest
    outputs:
      releases_created: ${{ steps.release-please.outputs.releases_created }}
      build: ${{ steps.release-please.outputs['crates/puniyu_build--release_created'] }}
      common: ${{ steps.release-please.outputs['crates/puniyu_common--release_created'] }}
      library: ${{ steps.release-please.outputs['crates/puniyu_library--release_created'] }}
      macros: ${{ steps.release-please.outputs['crates/puniyu_macros--release_created'] }}
      config: ${{ steps.release-please.outputs['crates/puniyu_config--release_created'] }}
      types: ${{ steps.release-please.outputs['crates/puniyu_types--release_created'] }}
      protocol: ${{ steps.release-please.outputs['packages/puniyu_protocol--release_created'] }}
      registry: ${{ steps.release-please.outputs['crates/puniyu_registry--release_created'] }}
      command: ${{ steps.release-please.outputs['crates/puniyu_command--release_created'] }}
      event: ${{ steps.release-please.outputs['crates/puniyu_event--release_created'] }}
      server: ${{ steps.release-please.outputs['packages/puniyu_server--release_created'] }}
      plugin: ${{ steps.release-please.outputs['packages/puniyu_plugin--release_created'] }}
      adapter: ${{ steps.release-please.outputs['packages/puniyu_adapter--release_created'] }}
      core: ${{ steps.release-please.outputs['packages/puniyu_core--release_created'] }}
      adapter_console: ${{ steps.release-please.outputs['adapters/puniyu_adapter_console--release_created'] }}
      plugin_basic: ${{ steps.release-please.outputs['plugins/puniyu_plugin_basic--release_created'] }}
      plugin_server: ${{ steps.release-please.outputs['plugins/puniyu_plugin_server--release_created'] }}
      puniyu: ${{ steps.release-please.outputs['packages/puniyu--release_created'] }}
      tag_name: ${{ steps.release-please.outputs['packages/puniyu--tag_name'] }}
      plugin_basic_tag_name: ${{ steps.release-please.outputs['plugins/puniyu_plugin_basic--tag_name'] }}
      plugin_server_tag_name: ${{ steps.release-please.outputs['plugins/puniyu_plugin_server--tag_name'] }}
    steps:
      - name: 获取token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: 运行 release-please-action
        id: release-please
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        with:
          token: ${{ steps.app-token.outputs.token }}
          config-file: .release-please-config.json
          manifest-file: .release-please-manifest.json

  test:
    runs-on: ubuntu-latest
    if: "!startsWith(github.head_ref, 'release-please')"
    steps:
      - name: 检出代码
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.ref || github.ref_name }}
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}

      - name: 设置 rust
        uses: puniyu/setup-rust@main
        with:
          tools: just
          save-cache: true
          prefix-key: ${{ env.APP_NAME }}

      - name: 单元测试
        run: |
          just test


  build:
    needs: [ release, test ]
    uses: ./.github/workflows/build.yaml
    with:
      stable: ${{ needs.release.outputs.releases_created == 'true' }}

  publish-crates-io:
    needs: [ release, test ]
    if: ${{ needs.release.outputs.releases_created  == 'true' }}
    runs-on: ubuntu-latest
    env:
      CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_API_TOKEN }}
    steps:
      - name: 检出仓库
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.ref || github.ref_name }}
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}

      - name: 设置 rust
        uses: puniyu/setup-rust@main

      - name: 发布 build
        if: needs.release.outputs.build
        run: cargo publish --package puniyu_build --registry crates-io

      - name: 发布 common
        if: needs.release.outputs.common
        run: cargo publish --package puniyu_common --registry crates-io

      - name: 发布 config
        if: needs.release.outputs.config
        run: cargo publish --package puniyu_config --registry crates-io

      - name: 发布 macros
        if: needs.release.outputs.macros
        run: cargo publish --package puniyu_macros --registry crates-io

      - name: 发布 library
        if: needs.release.outputs.library
        run: cargo publish --package puniyu_library --registry crates-io

      - name: 发布 types
        if: needs.release.outputs.types
        run: cargo publish --package puniyu_types --registry crates-io


      - name: 发布 protocol
        if: needs.release.outputs.protocol
        run: cargo publish --package puniyu_protocol --registry crates-io


      - name: 发布 registry
        if: needs.release.outputs.registry
        run: cargo publish --package puniyu_registry --registry crates-io

      - name: 发布 command
        if: needs.release.outputs.command
        run: cargo publish --package puniyu_command --registry crates-io

      - name: 发布 event
        if: needs.release.outputs.event
        run: cargo publish --package puniyu_event --registry crates-io

      - name: 发布 server
        if: needs.release.outputs.server
        run: cargo publish --package puniyu_server --registry crates-io

      - name: 发布 plugin
        if: needs.release.outputs.plugin
        run: cargo publish --package puniyu_plugin --registry crates-io

      - name: 发布 adapter
        if: needs.release.outputs.adapter
        run: cargo publish --package puniyu_adapter --registry crates-io

      - name: 发布 core
        if: needs.release.outputs.core
        run: cargo publish --package puniyu_core --registry crates-io

      - name: 发布 adapter_console
        if: needs.release.outputs.adapter_console
        run: cargo publish --package puniyu_adapter_console --registry crates-io

      - name: 发布 plugin_basic
        if: needs.release.outputs.plugin_basic
        run: cargo publish --package puniyu_plugin_basic --registry crates-io

      - name: 发布 plugin_server
        if: needs.release.outputs.plugin_server
        run: cargo publish --package puniyu_plugin_server --registry crates-io


  publish-github-release:
    needs: [ release, build ]
    if: ${{ needs.release.outputs.puniyu }}
    runs-on: ubuntu-latest
    steps:
      - name: 获取token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: 下载构建产物
        uses: dawidd6/action-download-artifact@ac66b43f0e6a346234dd65d4d0c8fbb31cb316e5 # v11
        with:
          name: "^(${{ env.APP_NAME }}|puniyu_plugin).*"
          name_is_regexp: true
          skip_unpack: true

      - name: 上传主程序 Release
        if: ${{ needs.release.outputs.puniyu }}
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          token: ${{ steps.app-token.outputs.token }}
          files: ${{ env.APP_NAME }}-*
          tag_name: ${{ needs.release.outputs.tag_name }}

      - name: 上传 plugin_basic Release
        if: ${{ needs.release.outputs.plugin_basic }}
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          token: ${{ steps.app-token.outputs.token }}
          files: puniyu_plugin_basic-*
          tag_name: ${{ needs.release.outputs.plugin_basic_tag_name }}

      - name: 上传 plugin_server Release
        if: ${{ needs.release.outputs.plugin_server }}
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          token: ${{ steps.app-token.outputs.token }}
          files: puniyu_plugin_server-*
          tag_name: ${{ needs.release.outputs.plugin_server_tag_name }}