name: release
on:
  push:
    branches:
      - main
  pull_request_target:
  workflow_dispatch:


env:
  APP_NAME: puniyu

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true


jobs:
  release-pr:
    if: "!startsWith(github.head_ref, 'release')"
    runs-on: ubuntu-latest
    outputs:
      prs_created: ${{ steps.release-please.outputs.prs_created }}
    steps:
      - name: 检出仓库
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.ref || github.ref_name }}
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
          fetch-depth: 0

      - name: 获取token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: 运行 release-plz
        id: release-plz
        uses: release-plz/action@487eb7b5c085a664d5c5ca05f4159bd9b591182a # v0.5
        with:
          command: release-pr
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_API_TOKEN }}

  release:
    needs: release-pr
    if: ${{ needs.release-pr.outputs.prs_created == 'false' }}
    runs-on: ubuntu-latest
    outputs:
      releases: ${{ steps.release-plz.outputs.releases  }}
    steps:
      - name: 检出仓库
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.ref || github.ref_name }}
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
          fetch-depth: 0

      - name: 获取token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: 运行 release-plz
        id: release-plz
        uses: release-plz/action@487eb7b5c085a664d5c5ca05f4159bd9b591182a # v0.5
        with:
          command: release
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_API_TOKEN }}

  test:
    runs-on: ubuntu-latest
    if: "!startsWith(github.head_ref, 'release')"
    steps:
      - name: 检出代码
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.ref || github.ref_name }}
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}

      - name: 设置 rust
        uses: puniyu/setup-rust@main
        with:
          tools: just
          save-cache: true
          prefix-key: ${{ env.APP_NAME }}

      - name: 单元测试
        run: |
          just test


  build:
    needs: [ release-pr, test ]
    uses: ./.github/workflows/build.yaml
    with:
      stable: ${{ needs.release-pr.outputs.prs_created == 'false' }}

  publish-github-release:
    needs: [ release-pr, release, build ]
    if: ${{ needs.release-pr.outputs.prs_created == 'false' }}
    runs-on: ubuntu-latest
    steps:
      - name: 获取token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: 下载构建产物
        uses: dawidd6/action-download-artifact@ac66b43f0e6a346234dd65d4d0c8fbb31cb316e5 # v11
        with:
          name: "^(${{ env.APP_NAME }}|puniyu_plugin).*"
          name_is_regexp: true
          skip_unpack: true

      - name: 获取包的标签
        id: get-tag
        run: |
          puniyu_tag=$(echo '${{ needs.release.outputs.releases }}' | jq -r '.[] | select(.package_name == "puniyu") | .tag')
          puniyu_plugin_basic_tag=$(echo '${{ needs.release.outputs.releases }}' | jq -r '.[] | select(.package_name == "puniyu_plugin_basic") | .tag')
          echo "puniyu_tag=$puniyu_tag" >> $GITHUB_OUTPUT
          echo "puniyu_plugin_basic_tag=$puniyu_plugin_basic_tag" >> $GITHUB_OUTPUT

          

      - name: 上传主程序 Release
        if: ${{ steps.get-tag.outputs.puniyu_tag }}
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          token: ${{ steps.app-token.outputs.token }}
          files: ${{ env.APP_NAME }}-*
          tag_name: ${{ steps.get-tag.outputs.puniyu_tag }}

      - name: 上传 plugin_basic Release
        if: ${{ steps.get-tag.outputs.puniyu_plugin_basic_tag }}
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          token: ${{ steps.app-token.outputs.token }}
          files: puniyu_plugin_basic-*
          tag_name: ${{ steps.get-tag.outputs.puniyu_plugin_basic_tag }}